[submodule "public"]
	path = public
	url = https://github.com/MscMin/MscMin.github.io
	branch = _public
[submodule "content"]
	path = content
	url = https://github.com/MscMin/MscMin.github.io
	branch = _content
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/MscMin/hugo-PaperMod-custom
